
  



<main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/about-header.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>About</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4" data-aos="fade-up">
                    <div class="col-lg-4">
                        <img src="~/assets/img/vision.jpg" class="img-fluid" alt="" style="height:45vh;width:100%"/>
                    </div>
                    <div class="col-lg-8">
                        <div class="content ps-lg-5">
                            <h3>Vision, Mission, Core Values and Core Purposes </h3>
                            <p>
                                <b>Vision</b> : To reduce failure and bring success and happiness in people life worldwide
                            </p>
                            <p><b>Mission :</b> Help people to grow in every aspects of life and business worldwide</p>
                            <p><b>Core Values :</b> Continuous Upgradation, Respect, Helpful, Social Responsible, Trust </p>
                            <p><b>Core Purpose :</b> To provide best valuable solutions, services and products worldwide      </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <section id="about" class="py-5 about bg-light">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-6 p-5">
                        <h3>
                            <b>About ABCD International Family</b></h3>
                        <p>ABCD Company provides various Seminar and Workshop on various aspects of life. We want to improve people's skills and empower the every aspects of their Life.</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/img/aboutinternationfamily.jpg" class="img-fluid" alt="About Image" style="height:70%; width: 80%">
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= Call To Action Section ======= -->
        <h3 class="fw-bold text-center py-4">About CEO</h3>
        <section id="call-to-action" class="call-to-action mt-4">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        
                        <p>
                            Mr. Aakash Bhabad is a dynamic and accomplished leader known for his exceptional achievements. Holding eight world records, he exemplifies excellence in his field. A published author with four books to his credit, available on reputable platforms such as Amazon, Amazon Kindle, and BIP APP, Mr. Bhabad's literary works include titles like "20 Essential Habits for Success" and "5 Essential Qualities for Success," with two of his books ranking as #1 Bestselling Books on Amazon.
                        </p>
                        <p>
                            As a renowned trainer, Mr. Bhabad conducts comprehensive workshops on habits and offers an International Authors' Success Coach Certification program. He specializes in assisting authors with writing, publishing, and branding their books, while also advising on leveraging books as powerful business tools. Additionally, Mr. Bhabad extends his expertise to organizations, educational institutions, and corporates, guiding them towards setting world records through training initiatives and strategic book publications.
                        </p>
                        <p>
                            Mr. Bhabad serves as a Business Booster Coach for Trainers, Coaches, and Mentors, facilitating their professional growth and providing platforms for self-exploration. He orchestrates International Business Summits, fostering global collaboration and knowledge exchange among trainers worldwide.
                        </p>
                        <p>
                            In addition to his role as CEO of ABCD International Family, Bhabad Films, and Bhabad International Publication, Mr. Bhabad is a certified Life, NLP, and Business Coach. Recently embarking on a new journey as a Professional Actor and Producer, he is set to make his debut in the film "Chakravyuh: The War At Duty," aiming once again to set a world record in his endeavors.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End Call To Action Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team bg-light">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Know Our Leaders </h2>

                </div>

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div>
        </section><!-- End Team Section -->
        <div class="container text-center my-5">
            <div class="section-header">
                <h2>Our Coaches </h2>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                    <div class="coach-member">
                        <img src="assets/img/team/team-1.jpg" alt="Alex Grinfield" class="img-fluid rounded-circle mb-3">
                        <h3>Alex Grinfield</h3>
                        <p class="text-muted">programming guru</p>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="coach-member">
                        <img src="assets/img/team/team-2.jpg" alt="Ann Richmond" class="img-fluid rounded-circle mb-3">
                        <h3>Ann Richmond</h3>
                        <p class="text-muted">creative leader</p>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="coach-member">
                        <img src="assets/img/team/team-3.jpg" alt="Jeffrey Brown" class="img-fluid rounded-circle mb-3">
                        <h3>Jeffrey Brown</h3>
                        <p class="text-muted">manager</p>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
