

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/portfolio-header.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>Webinars & Courses</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Webinars & Courses</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
       
        <section class="courses">
            <div class="container-fluid ">
               
                    <div class="text-center mb-5">
                    <h3 class="text-uppercase mb-3"><b>Courses</b></h3>
                      
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                            <img src="https://datatrained.com/dt-finance/wp-content/uploads/2023/04/Professional-Courses.jpg" class="img-fluid" alt="" style="height:25vh;width:100%" />
                                <div class="p-4" style="background-color:#F2F1F8">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i> 25 Students</small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                                    </div>
                                    <div class="h5" style="cursor:pointer">
                                        CourseName
                                    </div>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                            <h5 class="m-0">
                                                ₹ $545
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                            <img src="https://datatrained.com/dt-finance/wp-content/uploads/2023/04/Professional-Courses.jpg" class="img-fluid" alt="" style="height:25vh;width:100%" />
                                <div class="p-4" style="background-color:#F2F1F8 ">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i> 25 Students</small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                                    </div>
                                    <div class="h5" style="cursor:pointer">
                                        CourseName
                                    </div>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                            <h5 class="m-0">
                                                ₹ $545
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                            <img src="https://datatrained.com/dt-finance/wp-content/uploads/2023/04/Professional-Courses.jpg" class="img-fluid" alt="" style="height:25vh;width:100%" />
                                <div class="p-4" style="background-color:#F2F1F8 ">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i> 25 Students</small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                                    </div>
                                    <div class="h5" style="cursor:pointer">
                                        CourseName
                                    </div>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                            <h5 class="m-0">
                                                ₹ $545
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </section>
        <h3 class="text-center fw-bold">Webinars</h3>
        <!-- ======= Services Cards Section ======= -->
        <section id="services-cards" class="services-cards mt-4">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(assets/img/webinars.jpeg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Webinar 1</h4>
                                        <p>Fuga in dolorum et iste et culpa. Commodi possimus nesciunt modi voluptatem placeat deleniti adipisci. Cum delectus doloribus non veritatis. Officia temporibus illo magnam. Dolor eos et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(assets/img/webinars.jpeg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Webinar 2</h4>
                                        <p>Sunt deserunt maiores voluptatem autem est rerum perferendis rerum blanditiis. Est laboriosam qui iste numquam laboriosam voluptatem architecto. Est laudantium sunt at quas aut hic. Eum dignissimos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(assets/img/webinars.jpeg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Webinar 3</h4>
                                        <p>Dicta porro nobis. Velit cum in. Nesciunt dignissimos enim molestiae facilis numquam quae quaerat ipsam omnis. Neque debitis ipsum at architecto officia laboriosam odit. Ut sunt temporibus nulla culpa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(assets/img/webinars.jpeg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Webinar 4</h4>
                                        <p>Aut est quidem doloremque voluptatem magnam quis excepturi vero quia. Eum eos doloremque architecto illo at beatae dolore. Fugiat suscipit et sint ratione dolores. Aut aliquid ea dolores libero nobis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                </div>

            </div>
        </section>
        <section class="courses">
            <div class="container-fluid">
                
                    <div class="text-center mb-5">
                    <h3 class="text-uppercase mb-3"><b>Free Courses</b></h3>

                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                                <img src="https://datatrained.com/dt-finance/wp-content/uploads/2023/04/Professional-Courses.jpg" class="img-fluid" alt="" style="height:25vh" />
                                <div class="p-4" style="background-color:#F2F1F8 ">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i> 25 Students</small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                                    </div>
                                    <div class="h5" style="cursor:pointer">
                                        CourseName
                                    </div>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                            <h5 class="m-0">
                                                ₹ $545
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                                <img src="https://datatrained.com/dt-finance/wp-content/uploads/2023/04/Professional-Courses.jpg" class="img-fluid" alt="" style="height:25vh" />
                                <div class="p-4" style="background-color:#F2F1F8 ">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i> 25 Students</small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                                    </div>
                                    <div class="h5" style="cursor:pointer">
                                        CourseName
                                    </div>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                            <h5 class="m-0">
                                                ₹ $545
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                            <img src="https://datatrained.com/dt-finance/wp-content/uploads/2023/04/Professional-Courses.jpg" class="img-fluid" alt="" style="height:25vh" />
                                <div class="p-4" style="background-color:#F2F1F8 ">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i> 25 Students</small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                                    </div>
                                    <div class="h5" style="cursor:pointer">
                                        CourseName
                                    </div>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                            <h5 class="m-0">
                                                ₹ $545
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </section>
        <!-- ======= Portfolio Section ======= -->
       

    </main><!-- End #main -->
